body {
    overflow: hidden;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    right: 50;
    width: 100%;
}

.logo {
    position: relative;
    z-index: 2;
    margin-top: 49px;
    margin-left: 140px;
}

.cuadrado-2 {
    margin-top: 89.7%;
    margin-left: 31.6%;
}

.texto {
    position: relative;
    z-index: 2;
}

.btn {
    margin-left: 346px;
    margin-top: 10px;
}

.btn-bd-primary {
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet);
    --bs-btn-border-color: var(--bd-violet);
    --bs-btn-border-radius: .5rem;
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #{shade-color($bd-violet, 10%)};
    --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #{shade-color($bd-violet, 20%)};
    --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
}

.center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card {
    float: left;
    background: white;
    height: 100px;
    width: 243px;
    padding-bottom: 0px;
    margin: -220px;
    margin-top: 78px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius: 15px;
}

.card:hover {
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

p {
    font-family: "Arial", Helvetica, sans-serif;
}



.cardCenter {
    width: 45%;
    margin: 0 auto;
}

hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

#site-search{
    margin-top: 30px;
    margin-left: -400px;
    padding-right: 40%;
}

.circular{
    margin-right: 10px;
}

.flecha{
    margin-left: 91.1%;
    margin-bottom: 4%;
    margin-top: -111px;
}

